@tailwind base;
@tailwind components;
@tailwind utilities;

.line-h-36 {
  line-height: 36px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollHide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollHide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-gradient {
  background: linear-gradient(to right bottom, #ffb121, #af7201);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgHome {
  background-color: #0020b1;
}

.bgMovies {
  background-color: #7c01be;
}

.bgSeries {
  background-color: #ff8800;
}
